{% extends "base.html" %}
{% block content %}
<h2>Locations <a href="{{ url_for('add_location') }}">(Add)</a></h2>
<table>
  <tr><th>ID</th><th>Name</th><th>Address</th><th>Actions</th></tr>
  {% for l in locations %}
  <tr>
    <td>{{ l.location_id }}</td>
    <td>{{ l.name }}</td>
    <td>{{ l.address }}</td>
    <td>
      <a href="{{ url_for('edit_location', location_id=l.location_id) }}">Edit</a> |
      <a href="{{ url_for('delete_location', location_id=l.location_id) }}" onclick="return confirm('Delete location?');">Delete</a>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}